.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistics {
  text-align: center;
}
.buttons,
.statistics__data {
  display: flex;
  gap: 15px;
}
